nav a{
    text-decoration:none;
    margin: 20px;
    padding: 10px;
}
header{
    background-color: cadetblue;
    height: 30pxpx;
}
*{
    margin: 0;
    padding: 0;
}
#second{
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
 .box{

    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 5px;
    display: inline-block;
}
#contener{
    border: 5px solid palevioletred;
    margin: 2px;
}
#box4{
   position: fixed;
    right: 10px;
}
#box2{
   z-index: 2;
   position: fixed;
   left: 5px;
}
footer{
    position: fixed;
    bottom: 10px;
    background-color: crimson;
}